@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

.navbar-section {
    background-color: #ebf8ff;
}

/* width 80% css here */
.navbar-items,
.home-items,
.about-item,
.my-recipies-items {
    width: 80%;
    margin: auto;
}

.unique-color {
    color: #FBA24F;
}

.link-btn {
    padding: 10px 30px;
    background-image: linear-gradient(#FBA24F, #FF1E1E);
    box-shadow: 0px 2px 30px rgba(252, 143, 73, 0.5);
    border-radius: 100px;
    color: white;
}

/* display wrapping here */
.navbar-wrap,
.home-wrap,
.about-wrap,
.recipies-cart-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid blue;
}

/* navbar css here */
.navbar-wrap{
    padding: 10px 20px;
}
.nabbar-logo {
    cursor: pointer;
    margin: 5px 0px;
}

.nabbar-logo h3 {
    padding: 5px 0px;
    font-weight: 700;
    font-size: 30px;
}

.navbar-options {
    display: flex;
    justify-content: space-between;
}

.navbar-options li {
    list-style: none;
    margin: 5px 0;
    margin-left: 20px;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
}

/* home css here */ 
.home-wrap{
    padding: 10px 20px;
}

.home-description h1 {
    font-size: 60px;
    font-weight: 700;
    margin-top: 10px;
    color: #575757;
}

.home-para {
    font-size: 20px;
    color: gray;
    width: 600px;
    margin: 25px 0px;
    padding: 15px 0px
}

.home-image {
    width: 600px;
}

.home-image img {
    width: 100%;
}

/* about css here*/ 
.about-wrap{
    padding: 0px 20px;
    padding-top: 50px;
    
}
.about-section{
    background-image: url(../images/frame-bg.jpg);
    background-repeat: no-repeat;
}
.about-image {
    width: 300px;
    margin-left: 100px;;
}
.about-image img {
    width: 100%;
    
}
.about-description {
    width: 550px;
    padding: 10px;
    margin-right: 100px;
}
.about-description h1{
    font-size: 30px;
    color: #707070;
}
.about-para{
    font-size: 20px;
    color: gray;
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 10px 0px
}
/* my recipies */
.recipies-cart-wrap{
    padding: 10px 20px;
}
.recipes-images{
    width: 300px;
}
.recipes-images img{
    width: 100%;
}
