@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

.navbar-section {
    background-color: #ebf8ff;
}

/* width 80% css here */
.navbar-items,
.home-items,
.about-items,
.my-recipies-items,
.footer-wrap,
.social-count-section,
.package-items {
    width: 80%;
    margin: auto;
}

.unique-color {
    color: #FBA24F;
}

.link-btn {
    padding: 10px 30px;
    background-image: linear-gradient(#FBA24F, #FF1E1E);
    box-shadow: 0px 2px 30px rgba(252, 143, 73, 0.5);
    border-radius: 100px;
    color: white;
}

/* display wrapping here */
.navbar-wrap,
.home-wrap,
.about-wrap,
.recipies-cart-wrap,
.social-count,
.package-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* navbar css here */
.nav-active {
    color: #575757;
    border-bottom: 3px solid #FBA24F;
}

.navbar-wrap {
    padding: 10px 20px;
}

.nabbar-logo {
    cursor: pointer;
    margin: 5px 0px;
}

.nabbar-logo h3 {
    padding: 5px 0px;
    font-weight: 700;
    font-size: 30px;
}

.navbar-options {
    display: flex;
    justify-content: space-between;
}

.navbar-options li {
    list-style: none;
    margin: 5px 0;
    margin-left: 20px;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
}

/* home css here */
.home-wrap {
    padding: 10px 20px;
}

.home-description h1 {
    font-size: 60px;
    font-weight: 700;
    margin-top: 10px;
    color: #575757;
}

.home-para {
    font-size: 20px;
    color: gray;
    width: 600px;
    margin: 25px 0px;
    padding: 15px 0px
}

.home-image {
    width: 600px;
}

.home-image img {
    width: 100%;
}

/* about css here*/
.about-wrap {
    padding: 0px 20px;
    padding-top: 50px;

}

.about-section {
    background-image: url(../images/frame-bg.jpg);
    background-repeat: no-repeat;
}

.about-image {
    width: 300px;
    margin-left: 100px;
    ;
}

.about-image img {
    width: 100%;

}

.about-description {
    width: 550px;
    padding: 10px;
    margin-right: 100px;
}

.about-description h1 {
    font-size: 40px;
    color: #707070;
}

.about-para {
    font-size: 20px;
    color: gray;
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 10px 0px
}

/* my recipies */
.recipies-cart-wrap {
    padding: 10px 20px;
    margin-bottom: 20px;
}

.my-recipies-description {
    text-align: center;
    margin: 30px 0px;
    color: #575757;

}

.my-recipies-description h2 {
    font-size: 40px;
}

.my-recipies-description p {
    text-align: center;
    margin: 30px auto;
    width: 700px;
    font-size: 18px;
}

.recipies-cart-wrap {
    padding: 10px 50px;
}

.recipies-cart {
    margin: 10px 5px;
    width: 380px;
    height: 550px;
    padding: 20px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 30px;

}

.recipies-images {
    width: 350px;
    padding: 10px
}

.recipies-images img {
    width: 100%;
    border-radius: 20px;
}

.recipies-description {
    margin-top: 30px;
    padding: 10px;
}

.recipies-description h2 {
    font-size: 30px;
    font-weight: 700;
}

.recipies-description p {
    margin-top: 30px;
    font-size: 18px;
    font-weight: 400;
}

/* package section css here */
.package-section {
    background-color: #ebf8ff;
    margin: 30px 0;
    padding: 20px 0;
}

.package-item-description {
    text-align: center;
    width: 700px;
    margin: auto;
    margin-top: 20px;
    font-size: 30px;
    font-weight: 600;
    padding: 20px 0;
    border-bottom: 2px solid #FBA24F;
}

.package-wrap {
    padding: 20px 80px;
    margin-bottom: 50px;
}


.package-cart {
    width: 200px;
    margin: 15px;
    padding: 10px 25px;
    text-align: center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    background-color: white;
}

.package-cart-img {
    width: 150px;
    height: 100px;
    color: #FBA24F;
    padding: 25px;
}

.package-cart-img img {
    width: 100%;
}

.package-cart h2 {
    font-size: 25px;
    font-weight: 600;
    margin-top: 45px;
}

.package-cart h1 {
    font-size: 30px;
    font-weight: 600;
    padding: 8px 0px;
    width: 100px;
    margin: auto;
    color: #FBA24F;
    border-bottom: 2px solid #FBA24F;
}

.package-dollar {
    font-size: 20px;
    padding-left: 2px;
}

.package-cart p {
    font-size: 14px;
    font-weight: 300;
    margin-top: 30px;
}

.package-button {
    background-color: white;
    color: #FBA24F;
    border: 2px solid #FBA24F;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 20px 0;
    cursor: pointer;
    font-size: 15px;
}

/* social count */
.social-count {
    padding: 50px 100px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    margin: 30px 10px;
}

.social-count h1 {
    font-size: 50px;
    font-weight: 700;
}

.social-count p {
    font-size: 16px;
    margin-top: 20px;
}

/* footer css here */
.footer-wrap {
    background-color: #0B0D17;
    text-align: center;
    height: 200px;
    margin-top: 10px;
}

.footer-wrap h1 {
    color: #5B5B5B;
    font-size: 35px;
    padding-top: 35px;
}

#unique {
    color: #FBA24F;
}

.footer-wrap p {
    color: rgb(241, 238, 238);
    font-size: 16px;
    margin-top: 30px;
}